/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v12-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


:root{
    --header-bg-color: #FFFBF3;
    --header-text-color: #3C3C3C;
    --header-text2nd-color: #FCC647;
    --header-text3rd-color: #667085;
    --header-text4th-color: #F4B41B;
    --trust-text-color: #535353;
    --main-bg-color: #fff;
    --main-font-family: 'Inter', sans-serif;
}


html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--main-bg-color);
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1210px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* ********** HEADER STYLE STARTS ************ */
.site-header{
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: var(--header-bg-color);
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__list{
    display: flex;
    align-items: center;
}

.site-header__item:not(:last-child){
    margin-right: 80px;
}

.site-header_navlink{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--header-text-color);
}

.site-header_navlink:active{
    color: var(--header-text2nd-color);
}


/* ********** HEADER STYLE ENDS ************ */


/* ********** MAIN STYLES START ************ */
.site-main{
    background-color: var(--main-bg-color);
}

/* ********** HERO STYLE STARTS ************ */
.hero-section{
    padding-top: 61px;
    padding-bottom: 180px;
    background-color: var(--header-bg-color);
    background-image: url(../images/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 520px) calc(50% - 44px)
}

.hero-section__wrapper{
    width: 100%;
    max-width: 573px;
}

.hero-section__subtitle{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 12px;
    padding: 12px 22px;
    font-weight: 600;
    font-size: 16.625px;
    line-height: 14px;
    color: #F4B41B;
    background: #FFF2D5;
    border-radius: 7.125px;
}

.hero-section__title{
    margin-top: 0;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--header-text-color); 
}

.hero-section__title--difcol{
    color: #FFC12F;
}

.hero-section__desc{
    margin-top: 0;
    margin-bottom: 55px;
    width: 100%;
    max-width: 507px;
    font-size: 16px;
    line-height: 32px;
    color: var(--header-text3rd-color);
}

.hero-section_link{
    padding: 15px 20px;
    margin-top: 0;
    margin-right: 80px;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: var(--main-bg-color);
    background: #FFC12F;
    box-shadow: 0px 15px 40px rgba(249, 213, 128, 0.25);
    border-radius: 48px;
}

.hero-section_link2{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    color: var(--header-text-color);
}

/* ********** HERO STYLE ENDS ************ */


/* ********** PROCESS STYLE START ************ */
.process-section{
    padding-top: 96px;
    padding-bottom: 44px;
}

.process-section__title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: var(--header-text-color);
}

.process-section__desc{
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 100%;
    max-width: 505px;
    min-height: 125px;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #667085;
}

.process-section__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-section__item{
    width: 100%;
    max-width: 324px;
    min-height: 200px;
    padding-top: 39px;
}

.process-section__subtitle{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: var(--header-text-color);
}

.process-section__subdesc{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 27px;
    color: var(--header-text3rd-color);
}

.process-section__item{
    position: relative;
}

.process-section__item::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: url(../images/process_1.svg);
    background-color: #335DFF;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    left: 112px;
    top: -68px;
}

.process-section__item:nth-child(2)::before{
    content: url(../images/process_2.svg);
    background-color: #F6CA00;
}

.process-section__item:nth-child(3)::before{
    content: url(../images/process_3.svg);
    background-color: #0BD28E;
}
/* ********** PROCESS STYLE ENDS ************ */


/* ********** MENU STYLE STARTS ************ */
.menu-section{
    margin-bottom: 100px;
}

.menu-section__wrapper--start{
    text-align: center;
}

.menu-section__title{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: var(--header-text-color);
}

.menu-section__desc{
    width: 100%;
    max-width: 465px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 83px;
    font-size: 14px;
    line-height: 27px;
    color: var(--header-text3rd-color);
}

.menu-section__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1167px;
}

.menu-section__item{
    margin-top: 0;
    margin-bottom: 45px;
    padding-left: 20px;
    width: 100%;
    max-width: 273px;
    min-height: 319px;
    border: 0.698848px solid rgba(112, 112, 112, 0.2);
    border-radius: 10.4827px;
}

.menu-section__item:active{
    background: #FFFFFF;
    border: 1px solid #F9A755;
    box-shadow: 0px 30px 30px 13px rgba(198, 198, 198, 0.25);
    border-radius: 10.4827px;
}

.menu-section__food{
    padding-top: 15px;
    margin-left: 35px;
    margin-bottom: 20px;
}


.menu-section__name{
    margin-top: 0;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--header-text-color);
}

.menu-section__expl{
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 20px;
    color: var(--header-text3rd-color);
}

.menu-section__bottom{
    display: flex;
    align-items: center;
}

.menu-section__price{
    margin-right: 125px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--header-text-color);
}

.menu-section__korzinka{
    margin-right: 9px;
}

.menu-section__share{
    margin-right: 9px;
}





/* ********** MENU STYLE ENDS ************ */






















/* ********** MAIN STYLES END ************ */
